*{
    margin: 0;
    padding: 0;
}

header{
    background: rgb(144, 144, 144);
    display: flex;
    text-align: center;
}

header a{
    background: rgb(144, 144, 144);
    padding: 30px;
    text-decoration: none;
    color: black;
}
header a:hover{
    background: rgb(118, 118, 118);
    color: white;

}